
.conteiner{
    display: flex;
    flex-direction: column;
    width: 53%;
    padding: 2em 4em;
    box-shadow: 0px 0px 14px 4px rgb(114 114 114 / 28%);
}
.forml1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.first {
    width: 48%;
}
.for {
    height: 45px;
    border: none;
    background: #ecffc3;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.b1{
    background: rgb(210, 245, 134);
}
.b2{
    background: #d3f981;
}
.b3{
    background:  rgb(193, 240, 91);
}
.conteiner-form{
    display: flex;
    flex-direction: column;
}
.btn-brown{
    align-self: center;
    border: 3px solid #e4ffa8;
    height: 2.9em;
    width: 9.5em;
    background: transparent;
    color: #a5e10d;
    border-radius: 3em;
    margin-top: 10px;
}
.btn-brown:hover {
    background: #a5e10d;
    color: #e4ffa8;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-duration: 0.5s;
}
.for:focus{
    outline: none;
}
.for:focus-visible{
    border: 3px solid #a5e10d;
}
.h2_crear{
    font-family: serif;
    font-variant-caps: all-petite-caps;
    align-self: center;
}
.p_crear{
    font-size: 15px;
    font-family: serif;
    align-self: center;
   
}
.form-label{
    font-size: smaller;
    color: #0f0f0f;
}

.conten{
    height: 88vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}