body{
  font-family: monospace;
}
.conteiner{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}
.content {
  width: 75%;
}
.tr-row{
  font-size: smaller;
}
.th_color{
  color: #575757 !important;
  border: 1px solid #a5e10d;
  margin-bottom: 3em;
  font-family: serif;
  font-variant-caps: small-caps;
}
.consultar{
  margin-bottom: 27px;
}
.button:hover{
  background: #a5e10d;
  color: #e4ffa8;
}
.button{
  background: #e4ffa8;
  color: #a5e10d;
  border: none;
  border-radius: 6px;
  width: 91px;
  height: 30px;
  font-family: serif;
  font-variant-caps: all-petite-caps;
  font-weight: 500;
  font-size: 17px;
}
.title{
  margin-bottom: 2em;
  display: block;
  font-family: serif;
  font-variant-caps: all-petite-caps;
}
.p_crear{
  font-size: 15px;
  font-family: serif;

}
.input{
  border-radius: 8px;
  border: 1.6px solid #dadada;
  height: 30px;
  margin-right: 10px;
}
.modal-content{
  height: 79vh;
}
.modal-header{
  justify-content: space-between;
}
.modalFactura-title {
  margin-bottom: -6px;
  font-size: 37px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: inherit;
  font-variant-caps: all-petite-caps;
}
.modalFactura-header{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  color: #a5e10d;
  justify-content: space-between;
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
}
.tableFactura-header{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}
.fechaEmicion{
  padding-left: 5px;
  font-size: 15px;
  color: black;
  font-variant-caps: all-petite-caps;
}
.column_Nfactura{

}
.modal-content{
  padding: 1em 1em;
}
.title_mascota{
  font-size: 24px;
  border-collapse: collapse;
  font-weight: 900;
  font-family: monospace;
  font-variant-caps: all-petite-caps;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  font-family: monospace;
  font-variant-caps: all-petite-caps;
}

.data-table th, .data-table td {
  text-align: left;
}

.data-table th {
  width: 62px;
  font-size: 1em;
}

.data-table td {
  font-size: 1em;
}
.data-table .facturaN {
  width: 125px;
  font-size: 1em;
}