body{
    font-family: monospace;
}
.conteiner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10em;
}
.content {
    width: 75%;
}
.boton{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
}
.tr-row{
    font-size: smaller;
}
.tdd{
    padding: 1rem .5rem !important;
}